#hero {
  & .hero {
    max-width: 90rem;
    width: 100%;
    height: 59.25rem;
    margin-inline: auto;
    
    padding-block: 3.5rem 5rem;
    padding-inline: 7.5rem;
  
    background: url(../assets/images/hero-background.png) center/134% no-repeat;
  
    & nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      & a {
        padding-block: 0.75rem;
        padding-inline: 1.25rem;
        border-radius: .5rem;
        background-color: var(--pink-dark);
      }
    }
  
    & div {
      margin-top: 10.25rem;
      max-width: 41rem;
      text-align: center;
      margin-inline: auto;
  
      & p {
        font: var(--fw-base) 1.25rem/1.4 var(--ff);
        margin-inline: 3rem;
        margin-top: 2rem;
      }
    }
  }

  & .hero-ad {
    max-width: 90rem;
    width: 100%;
    margin-inline: auto;
    margin-top: 6rem;

    & div {
      position: relative;
      max-width: 75rem;
      text-align: center;
      margin-inline: auto;

      & > img {
        width: 5.5rem;
        height: auto;
        rotate: 20deg;
        margin-right: 3rem;
      }

      & strong {
        font-weight: 700;
        color: var(--blue-light);
      }

      & div {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & img:nth-child(1) {
          width: 5rem;
          height: auto;
          margin-left: 2.5rem;
          rotate: 100deg;
        }

        & img:nth-child(2) {
          width: 4.5rem;
          height: auto;
          rotate: -14.5deg;
          margin: 0;
        }
      }
    }
  }
}