#pricing {
  max-width: 90rem;
  margin-inline: auto;

  display: grid;
  justify-content: center;

  & .content {
    margin-block: 12.13rem 18.9rem;

    & > div:nth-child(1) {
      text-align: center;
  
      margin-bottom: 3.5rem;
    }
  }
}